.chatbot {
   display: flex;
/*width: 320px;*/
width: 100%;
height: 440px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 8px; 
border-radius: 20px;
background: #F6F8FA;

position: absolute;
right: 0px;
bottom: 0px;
}

.chatbot-top {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background-color: #6A8AF8;
height: 56px;
width: 100%;
overflow: hidden;
padding: 0px 10px;
border-radius: 20px 20px 0px 0px;

}

.chatbot-top-right {
    display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 12px;
}

.robot {
    width: 48px;
height: auto;
gap: 10px;
}

.close {
    height: 30px;
    width: auto;
}

.conversation {
    flex: 1;
}

.chatbot-low {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    align-items: center;
    width: 100%;

    height: 72px;

padding: 0px 10px;
border-radius: 0px 0px 20px 20px;
background-color: #EAEEF6;

}

.send-chatbot {
display: flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: #6A8AF8;
padding: 0px
}

.chat-input {
   /* width: 240px; */
   flex: 1;
height: 40px;
background-color: white;
border: none;
color: #6B789A;

}

.chat-input::placeholder {
    color: #6B789A;           
    opacity: 0.8;                
}

.conversation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 300px;
  overflow-y: auto;
  padding: 20px;
  width: 100%;
}

.conversation p {
color: #6B789A;
  width: 212px;
  padding: 12px; 

   border-radius: 12px;
}

.conversation div:nth-child(odd) {
display: flex;
flex-direction: row;
  align-self: flex-start;
width: 100%;  /* impares-chatbot */
}

.conversation div:nth-child(even) {
    display: flex; /* pares-user */
flex-direction: row;
justify-content: flex-end;
 align-self: flex-end;
 width: 100%;
}


.conversation div:nth-child(even) p {
 /* pares-user */
  background: #EAEEF6; 
}

.title-game {
    color: #EAEEF6;
    font-weight: 500;
}

 /* HIDDEN WHEN OPEN */
.open {
    height: 25px;
    width: auto;
    display: none;
}

 /* CLOSED MENU */
.conversation-closed {
    display: none;
}

.chatbot-low-closed {
    display: none;
}

.chatbot-top-closed {
border-radius: 20px;
}

.open-visible {
    display: flex;
}

.close-hidden {
    display: none;
}

.chatbot-closed {

height: 56px;
border-radius: 20px;

}

 /* PHONE VERSION */

 @media (max-width: 700px) {

   .title-game {
    display: none;
   }

   .chatbot-top-closed {
border-radius: 50px;
width: 68px;
height: 68px;
justify-content: center;
align-items: center;
padding: 0px;
}

.chatbot {

position: fixed;
right: 8px;
bottom: 32px;
width: 320px;

}

.chatbot-closed {

border-radius: 50px;
width: 68px;
height: 68px;
position: fixed;
right: 16px;
bottom: 32px;

}



.open-visible {
    display: none;
}
 }


 /* -----------------------
 ANIMATION DOTS LOADING 
 --------------------------*/
.animation-waiting-div {
  display: flex;
}


 .animation-waiting-div p {
  display: flex;
    padding: 4px;

    width: 32px;
   text-align: center;
   font-size: 24px;

 }

 .hidden {
  display: none;
 }



 .dot-1 {
    animation: dot1 1.2s linear 0s infinite;
 }

  @keyframes dot1 {
   0% {
   opacity: 100%;
   }  
   50% {
  opacity: 20%;
   }
   100% {
 opacity: 100%;
   }
}

 .dot-2 {
    animation: dot2 1.2s linear 0.5s infinite;
 }

  @keyframes dot2 {
   0% {
   opacity: 100%;
   }  
   50% {
  opacity: 20%;
   }
   100% {
 opacity: 100%;
   }
}

 .dot-3 {
    animation: dot3 1.2s linear 1s infinite;
 }

  @keyframes dot3 {
   0% {
   opacity: 100%;
   }  
   50% {
  opacity: 20%;
   }
   100% {
 opacity: 100%;
   }
}
