body {
    background: var(--blue-medium);
    color: var(--gray-light);
}

main {
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    background: var(--dark-blue);
    border-radius: 36px;
    flex: 1;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

}

h1 {
    text-align: center;
}

.prompt {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 2;
    width: 84%;


}


.buttons {

    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 28px;

}


.name-input {
    width: 120px;
}

.name-show {
    width: 120px;
    display: flex;
    height: 40px;
    padding: 0 16px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--blue-light);
    background: rgba(234, 238, 246, 0.16);
     font-family: "Saprona", sans-serif;
        font-weight: 400; /* Regular */
        font-size: 12px;
        color: var(--gray-light);
}



.div-each-player {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div-flip-card-out {

    width: 120px;
    height: 120px;
   

}

.div-flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.div-flip-card-active {
    transform: rotateY(180deg);
}

.image-input, .wolf-image-input, .seer-image-input, .villager-image-input {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.image-input {
   
    border-radius: 16px;
    border: none;
    background-color: rgba(107, 120, 154, 0.8);
    background-image: url('./elements/Images/back-card.jpg');
    background-repeat: no-repeat;
    background-position: center;

   background-size: 100%;
}



.wolf-image-input {

    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-wolf.webp');
    background-repeat: no-repeat;
    background-position: center;

     background-size: contain;

     transform: rotateY(180deg);
}

.seer-image-input {

    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-seer.webp');
    background-repeat: no-repeat;
    background-position: center;

     background-size: contain;

     transform: rotateY(180deg);
    
}

.villager-image-input {

    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-villager.webp');
    background-repeat: no-repeat;
    background-position: center;

     background-size: contain;

     transform: rotateY(180deg);
   
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
   
   
    
}

.p-role-show {
/*font-size: 16px;*/
text-align: center;
}

.hide {
    display: none;
}

/*PHONE VERSION */

@media (max-width: 700px) {

  main {
 
  
  width: calc(100% - 16px);
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;


}



.info-players {
    background: none;
}

h1 {
    font-family: "Saprona", sans-serif;
    font-weight: 200; /* UltraLight */
    font-size: 24px;
}

/* h2: 24px Light */
h2 {
    font-family: "Saprona", sans-serif;
    font-weight: 300; /* Light */
    font-size: 20px;
}

.prompt {
    text-align: center;
    width: 100%
}

.buttons {

    padding: 0px;

}

}