body {
    background: var(--blue-medium);
    color: var(--gray-light);
}

main {
    margin: 0 20px 20px 20px;
    /* top right bottom left */
 background: var(--dark-blue);
    border-radius: 36px;
    flex: 1;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    padding: 20px;
    /* top right bottom left */
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    text-align: center;
}

.prompt {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 2;
    width: 84%;


}


.buttons {

    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 28px;

}


.name-input {
    width: 120px;
}



.image-input {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    border: none;
    background-color: rgba(107, 120, 154, 0.8);
 /*   background-image: url('./elements/icons/camera.svg'); */
 background-image: url('./elements/icons/image-upload/image-upload-camera.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: 40%;

}



.info-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    
    
}


.div-each-player {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.image-input:hover {
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);             
}

/*PHONE VERSION */

@media (max-width: 700px) {

  main {
 
  
  width: calc(100% - 16px);
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
  padding-top: 20px;

}



.info-players {
    background: none;
}

h1 {
    font-family: "Saprona", sans-serif;
    font-weight: 200; /* UltraLight */
    font-size: 24px;
}

/* h2: 24px Light */
h2 {
    font-family: "Saprona", sans-serif;
    font-weight: 300; /* Light */
    font-size: 20px;
}

.prompt {
    text-align: center;
    width: 100%
}

.buttons {

    padding: 0px;

}

}

/* Make the rectangles clickable buttons */ 
.hidden-file-input {
    display: none;
}
