body {
    background: var(--blue-medium);
    color: var(--gray-light);
}

main {
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    background: var(--dark-blue);
    border-radius: 36px;
    flex: 1;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.prompt {

    display: flex;
  
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
      flex: 2;
      width: 480px;
    text-align: center;  

}

.prompt div{

    display: flex;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    

}


.buttons {

    flex: 1;
    justify-content: center;
    align-items: center;

}

/*PHONE VERSION */

@media (max-width: 700px) {

  main {
 
  
  width: calc(100% - 16px);
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
border-radius: 16px;

}





h1 {
    font-family: "Saprona", sans-serif;
    font-weight: 200; /* UltraLight */
    font-size: 24px;
}

/* h2: 24px Light */
h2 {
    font-family: "Saprona", sans-serif;
    font-weight: 300; /* Light */
    font-size: 20px;
}

.prompt {
    text-align: center;
    width: 100%
}
}