body {
    background: var(--blue-medium);
    color: var(--gray-light);
}

main {
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    background: var(--dark-blue);
    border-radius: 36px;
    flex: 1;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    /* top right bottom left */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.prompt {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex: 2;
    width: 84%;


}

.prompt div {

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   


}


.buttons {

    flex: 1;
    justify-content: center;
    align-items: center;

}


.name-input {
    width: 120px;
}

.name-show {
    width: 120px;
    display: flex;
    height: 40px;
    padding: 0 16px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid var(--blue-light);
    background: rgba(234, 238, 246, 0.16);
     font-family: "Saprona", sans-serif;
        font-weight: 400; /* Regular */
        font-size: 12px;
        color: var(--gray-light);
}





.image-input {
    width: 200px;
    height: 200px;
    border-radius: 16px;
    border: none;
    background-color: rgba(107, 120, 154, 0.8);
    background-image: url('./elements/icons/3D/person.svg');
    background-repeat: no-repeat;
    background-position: center;

}

.wolf-image-input {
      width: 200px;
    height: 200px;
    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-wolf.webp');
    background-repeat: no-repeat;
    background-position: center;

    background-size: contain;
}

.seer-image-input {
      width: 200px;
    height: 200px;
    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-seer.webp');
    background-repeat: no-repeat;
    background-position: center;

    background-size: contain;
    
}

.villager-image-input {
      width: 200px;
    height: 200px;
    border-radius: 16px;
    border: none;
    background-image: url('./elements/Images/card-villager.webp');
    background-repeat: no-repeat;
    background-position: center;

    background-size: contain;
   
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info-players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    padding: 20px 80px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
   
   
    
}

.div-each-player {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-role-show {
font-size: 16px;
}

.hide {
    display: none;
}

/*PHONE VERSION */

@media (max-width: 700px) {

  main {
 
  
  width: calc(100% - 16px);
  margin: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;


}



.info-players {
    background: none;
}

h1 {
    font-family: "Saprona", sans-serif;
    font-weight: 200; /* UltraLight */
    font-size: 24px;
}

/* h2: 24px Light */
h2 {
    font-family: "Saprona", sans-serif;
    font-weight: 300; /* Light */
    font-size: 20px;
}



}